* {
    margin: 0;
    padding: 0;
    outline: 0;
}

li.nav-item {
    padding: 0px 12px;
}

/*==================
font-family: 'Quicksand', sans-serif;
font-family: 'Source Code Pro', monospace;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Source Serif Pro', serif;
==================*/

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.header-secction {
    position: relative;
}

.navbar {
    padding: 5px 0px 0px 0px;
    position: absolute;
    width: 100%;
}

ul.navbar-nav {
    margin-top: -14px;
}

.navbar-brand {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    overflow: hidden;
    font-size: 30px;
}

.navbar-brand span {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    float: right;
    font-size: 8px;
    margin-left: 3px;
    margin-top: 12px;
}

/*======================
  Slider area code 
======================*/


.slider-area {
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.slider-area-table {
    display: table;
    width: 100%;
    height: 100vh;
}

.slider-area-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.slider-area-text h3 {
    color: #008ed6;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.slider-area-text h2 {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}

.slider-area-text p {
    font-size: 18px;
    font-weight: 400;
    padding: 10px 0px;
    color: #999999;
    font-family: 'Source Code Pro', monospace;
}

.slider-area-text a {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 30px;
    display: inline-block;
}

/*=====================
 btn style 
====================*/

a.btn-1 {
    color: #fff;
    background-color: #008ed6;
    padding: 12px 22px;
    border-radius: 4px;
    margin-right: 25px;
    position: relative;
    z-index: 1;
}

a.btn-2 {
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 22px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
}

a.btn-1:before {content: "";position: absolute;top: 0;left: 0;background-color: #000;width: 0;height: 100%;border-radius: 4px;opacity: .5;transition: .5s all ease;z-index: -1;}

a.btn-1:hover::before {
    width: 100%;
}

a.btn-2:before {content: "";position: absolute;top: 0;left: 0;background-color: #008ed6;width: 0;height: 100%;border-radius: 4px;z-index: -1;transition: .5s all ease;}

a.btn-2:hover::before {
    width: 100%;
}

/*====================
   feature section
===================*/

.feature-title {
    padding-bottom: 80px;
}

.feature-title h3 {
    color: #008ed6;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}

.feature-title h2 {
    font-size: 36px;
    font-weight: 600;
    text-transform: capitalize;
}

.feature-title span img {
    width: 3%;
}

.feature-single {
    padding: 0;
}

.feature-sec-icon i {
    font-size: 25px;
    color: #008ed6;
}

.feature-sec-icon {
    display: inline-block;
    height: 80px;
    width: 80px;
    line-height: 80px;
    border: 1px solid #9999;
    border-radius: 60px;
}

.feature-single h2 {
    font-size: 24px;
    padding: 12px 0px;
    font-weight: 400;
}

.feature-single p {
    font-size: 18px;
    font-weight: 300;
    padding: 0px 20px;
}

.feature-section {
    border-bottom: 1px solid #999999;
    padding: 60px 0px;
}

/*======================
  About Section code
=====================*/

section.about-section {
    padding: 60px 0px;
}

.about-img img {
    width: 70%;
}

.about-text h3 {
    color: #008ed6;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}

.about-text h2 {
    color: #1a1a1a;
    font-size: 36px;
    font-weight: 500;
}

.about-text p {
    color: #999999;
    font-size: 18px;
    font-weight: 300;
    width: 85%;
}

.about-text ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.about-text ul li {
    display: flex;
}

.about-text ul li i {
    color: #008ed6;
    font-size: 13px;
    padding-right: 12px;
    margin-top: 8px;
}

.about-text ul li p {
    color: #1b1b1b;
    font-size: 18px;
    font-weight: 400;
}

.about-text {
    padding: 50px 0px;
}

p.parra-pad {
    padding: 14px 0px;
}

/*======================
  Details section code
========================*/

section.details-sec {
    background-color: #f2f2f2;
    padding: 40px 0px;
}
.details-img img {
    width: 100%;
}

p.parra-wid {
    width: 100%;
    padding: 20px 0px;
}
/*========================
   testimonial section
========================*/

.testimonial-sec {
    height: 600px;
    width: 100%;
    padding: 80px 0px;
    background-image: url(images/bottom-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h2.color-fff {
    color: #fff;
}

.testimonial-single p {
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    font-style: italic;
    width: 90%;
}

.co-workers {
    display: flex;
}

.co-workers img {
    width: 14%;
    margin-right: 20px;
}

.co-workers p {
    font-size: 14px;
    margin-top: 16px;
    font-weight: 400;
}

.co-workers p span {
    font-weight: 700;
}

/*====================
      div sec
====================*/

section.div {
    padding: 40px 0px;
    background-color: #000;
}

.div-text h2 {
    font-size: 36px;
    font-weight: 300;
    color: #fff;
}

.div-text h2 span {
    font-weight: 600;
}

.div-text {
    margin-top: 29px;
    text-align: center;
}

/*====================
     pricings-sec
===================*/

.pricings-sec {
	padding: 80px 0px;
}

.post-single {
    border: 1px solid #999999;
    text-align: center;
    padding: 30px 0px;
    margin: 0px 15px;
}

.post-single h2 {
    border-bottom: 1px solid #999999;
    padding-bottom: 25px;
	margin: 0;
    font-size: 24px;
    font-weight: 700;
	transition: 1s all ease;
}

.price {
    border-bottom: 1px solid #999999;
    padding: 20px 0px;
	transition: 1s all ease;
}

.post-single p {
    color: #999999;
    font-size: 18px;
    width: 85%;
    margin: 0 auto;
    font-weight: 300;
    padding: 30px 0px;
	transition: 1s all ease;
}

.post-single a {
    font-size: 14px;
    text-decoration: none;
    color: #008ed6;
    text-transform: capitalize;
    display: inline-block;
    border: 1px solid #999999;
    padding: 12px 24px;
    border-radius: 3px;
	transition: 1s all ease;
}


p.numb {
    font-size: 60px;
    font-weight: 700;
    color: #000;
    padding: 0px 0px !IMPORTANT;
	font-family: 'Source Code Pro', monospace;
	transition: 1s all ease;
}

p.numb span {
    font-size: 30px;
    font-weight: 700;
	color: #000 !important;
	transition: 1s all ease;
}

.price p {
    padding: 0px 0px;
	transition: 1s all ease;
}

.post-single p span {
    color: #008ed6;
}

.post-single::hover .post-single h2 {
	color: #008ed6 !important;
}

.post-single::hover .post-single a {
	background-color: #008ed6 !important;
	color: #fff;
}

.post-single:hover .bg {
    background-color: #008ed6;
    color: #fff !important;
}

.post-single:hover .clr {
    color: #008ed6 !important;
}

.post-single:hover .numb {
    color: #fff !important;
}

.post-single:hover .numb span {
    color: #fff !important;
}

.post-single:hover .clr-w {
    color: #fff !important;
}

/*======================
      contact sec 
=====================*/

.contact-sec {
	background-color: #ededed;
	height: 650px;
	padding: 80px 0px;
}

.contact-post p {
    color: #999999;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}

.contact-post i {
    color: #008ed6;
    font-size: 25px;
    margin-bottom: 15px;
}

.form-post {
    display: flex;
    background-color: #15141a;
    padding: 30px 20px;
}

.form-single {
    flex-basis: 50%;
}

.form-single input {
    width: 95%;
    height: 45px;
    margin-bottom: 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background-color: transparent;
    padding: 0px 15px;
    border: 1px solid #9999;
    border-radius: 3px;
}

.form-single input:last-child {
    margin-bottom: 0px;
}

.form-single textarea {
    width: 95%;
    resize: none;
    height: 177px;
    font-size: 14px;
    background-color: transparent;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 10px 15px;
}

input[type="submit"] {
    display: inline-block;
    color: #fff;
    background-color: #008ed6;
    width: 140px;
    border: none;
    border-radius: 3px;
}

.text-right {
    text-align: right;
    padding: 0px 15px;
    margin-top: 10px;
}

.form-single input:focus {
    color: #fff !important;
}

.form-single textarea:focus {
    color: #fff !important;
}

.form-sec {
    position: relative;
}

.form-post {
    position: absolute;
    top: 50px;
    left: 0;
}

/*====================
    footer section 
===================*/

.footer-sec {
	background-color: #15141a;
	padding: 40px 0px;
}

ul.footer-icon {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.footer-icon li {
    display: inline-block;
    text-align: center;
    padding: 0px 13px;
}

ul.footer-icon li a {
    color: #444348;
    font-size: 14px;
    transition: .5s all ease;
}

.footer-text p {
    font-size: 14px;
    text-align: center;
	margin-top: 7px;
}

.footer-text {
    text-align: center;
}

ul.footer-icon li a:hover {
    color: #008ed6;
}





